.contenedor
{
	display: inline-block;
	background-color: #7AB775;
}
.cancha
{
	border: 1px solid white;
	width:  800px;
	height: 400px;
	display: inline-block;
	margin:20px; 
}
.rect1 , .rect2, .circ1
{
	border: 1px solid white;
	display: inline-block;
	position: relative;
	top: 100px;
	width:  120px;
	height: 180px;	
}
.rect1
{
	right:1px;
	float: left; 
}
.rect2
{	
	left:1px;
	float: right; 
}

.circ1
{
	width:  200px;
	height: 200px;	
	-moz-border-radius: 100px; 
   	-webkit-border-radius: 100px; 
   	border-radius: 100px;
   	top: 100px;
   	left: 150px;
 }

.bola1 ,.bola2, .bola3
{
	position: relative;
	display: inline-block;
}
.bola1
{
 	float: left;
 	top: 105px;
 	right: 10px;
}
.bola2
{
 	left: 70px;
 	bottom: 150px;
}
.bola3
{
	float: right;
	top: 250px;
	right: 5px;
}
